table,
:host{
    width: 100%;
    height: 100%;
}

/* Structure */
.project-container {
    position: relative;
    min-height: 200px;
    overflow-x: scroll;
    width: 100%;
  }
  
  .project-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .project-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .project-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }








  table {
    width: 100%;
  }
  
  tr.project-detail-row {
    height: 0;
  }
  
  tr.project-element-row:not(.project-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.project-element-row:not(.project-expanded-row):active {
    background: #efefef;
  }
  
  .project-element-row td {
    border-bottom-width: 0;
  }
  
  .project-element-detail {
    overflow: hidden;
    display: flex;
  }
  

  .project-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .project-element-description {
    padding: 16px;
  }
  
.inner-element{
  margin: 10px 0;
}
.inner-element .title{
  font-weight: bold;
}



