<div class="project-container mat-elevation-z8">
  <table mat-table [dataSource]="data"
  matSort matSortActive="start_date" matSortDisableClear matSortDirection="desc" multiTemplateDataRows
  class="mat-elevation-z8">
    <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

     -->
    

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > name. </th>
      <td *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    

    
    
    <!-- Name Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> name caps </th>
      <td *matCellDef="let element"> {{element.name | namePipe}}  </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="contractor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> contractor </th>
      <td *matCellDef="let element"> {{element.contractor}} </td>
    </ng-container>


    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
      <td *matCellDef="let element"> {{element.status}} </td>
    </ng-container>



    <!-- Weight Column -->
    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> start_date </th>
      <td *matCellDef="let element"> {{element.start_date | date}} </td>
    </ng-container>


    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td *matCellDef="let element"> <button (click)="delete(element)">DELETE</button> </td>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
    <div class="project-element-detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

      <div class="project-element-description">
        <div class="inner-element"><span class="title">Client</span> :  {{element.name}} </div>
        <div class="inner-element"><span class="title">Address</span> :  {{element.address}} </div>
        <div class="inner-element"><span class="title">Designer</span> :  {{element.designer}} </div>
      </div>
      <div class="project-element-description">
        <div class="inner-element"><span class="title"> Contractor</span> : {{element.contractor}} </div>
        <div class="inner-element"><span class="title"> Architect</span> : {{element.architect}} </div>
        <div class="inner-element"><span class="title"> Client</span> : {{element.client}} </div>
      </div>
      <div class="project-element-description">
        <div class="inner-element"> <span class="title">Start Date</span> : {{ element.start_date }}  </div>
        <div class="inner-element"> <span class="title">End Date</span> : {{element.end_date}} </div>
      </div>
      <div class="project-element-description">
        <div class="inner-element"> <span class="title">Status</span> : {{element.status}} </div>
      </div>
      <div class="project-element-description">
        <button (click)="delete(element)">Delete</button>
      </div>
    </div>
    </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    class="project-element-row"
    [class.project-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="project-detail-row"></tr>
    </table>
</div>
<mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>


